# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info

# (GIỮ lại .terraform.lock.hcl để lock version provider)
